
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    /* COLOURS */
    --black: #333;
    --green: #33cca8;
    --light-green: #e6f0ee;
    --orange: #FFC700;
    --light-orange: #FEF9E6;
    --white: #fff;
    --colored-white: #fbfbfb;
    --dark-white: #D6DEDC;

    /* FONTSTYLE */

    font-family: 'Quicksand', sans-serif;

    background: var(--colored-white);

}


*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Quicksand', sans-serif;
}

body{
    display: grid;
}


/* REUSED STYLE */

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
}

li{
    list-style: none;
}

h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}
h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

svg{
    font-size: 1.6rem;
}
.fa-2xl{
    font-size: 1.6rem;
}
.btns{
    width: 144px;
    height: 56px;
    background: #FFC700;
    border-radius: 8px;
    font-size: 18px;
    color: var(--white);
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
 
}
.btns:hover{
    background: #f7c203;
    transition: .5s;
}

input{
    height: 56px;
    border-radius: 5px;
    border: 2px solid #333;
    padding: 10px;
    font-size: 1rem;
}

.search-btn{
    width: 80px;
    height: 54px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--orange);
    border: none;
    outline: 0;
    right: 1px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.search{
    /* color: #fff; */
    font-size: 1.5rem;
}

.circle{
    width: 2.56rem;
    height: 2.56rem;
    background: #33cca8;
    border-radius: 100%;
    position: relative;
}

.circle img{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.card--details{
    background: rgba(51, 51, 51, 0.70);
    height: 4.8rem;
    width: 100%;
    display: grid;
    place-items: center;
    padding-inline: 20px;
}

.card--icons{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 10px;
    
}

.card--icon{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card--icon h3{
    color: #fff;
}
.card--price{
    color: #fff;
}

.location-time{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
}

.time, .location{
    display: flex;
    align-items: center;
}
.icon--time, .icon--location{
    color: #FFC700;
}

/* removing native style */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* For Mozilla Firefox */
input[type="search"]::-moz-search-cancel-button {
    display: none;
}


/* HEADER */

header{
    width: 100%;
    height: 100px;
    background: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 80px;
    padding-inline-end: 120px;
}

.logo img{
    width: 93px;
    height: 70px;
    cursor: pointer;
}

header .action-btn button{
    border: none;
    outline: none;
    background: transparent;
    color: var(--white);
    cursor: pointer;
    font-size: 1.125rem;
}

/* MAIN */
main{
    display: grid;
    grid-template-columns: 18.5rem 1fr;
    height: 100vh;
}


/* SIDEBAR */
aside{
    height: 100%;
    background: var(--green);
    display: flex;
    justify-content: center;
    top: 100px;
    
}

aside .menu-list{
    padding-block-start: 50px;
    display: flex;
    flex-flow: column;
    gap: 25px;
}


aside .active-page{
    color: var(--white);
}
aside .not-active-page{
    color: var(--black);
}


/* SECTION */
section{
    padding: 20px 40px;
    margin: 40px;
    background: var(--white);
    border-radius: 8px;
    margin-inline: 60px;
    /* width: 71.5rem; */
}

.summary-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-block-start: 38px;
}

.summary-card, .user-card{
    width: 264px;
    height: 144px;
    box-shadow: 0px 4px 4px rgba(255, 199, 0, 0.1);
    border-radius: 8px;
    background: var(--dark-white);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.listing_activities{
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* max-width: 800px; */
}

.inactive_listing .input-search{
    position: relative;
    width: 300px;
    height: 56px;
    margin-block-start: 20px;
    
}

.inactive_listing .input-search input{
    height: 56px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid #333;
    padding: 10px;
    font-size: 1rem;
}
.inactive_listing .input-search button{
    position: absolute;
    width: 80px;
    height: 54px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--orange);
    border: none;
    outline: 0;
    right: 1px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;

}

.property-card{
    width: 18.8rem;
    margin-top: 6rem;
}

.property-card .img-background{
    position: relative;
}
.property-card .card--details{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 0;
    left: 0;
}

.property-card .description{
    padding-inline: 1.8rem;
    height: 9.4rem;
    background: var(--secondary-green, #EFFAF8);
    border-radius: 0 0 0.5rem 0.5rem;
    display: grid;
    place-content: center;
    gap: 10px;
}

.inactive_listing .see-all{
    width: 18.8rem;
}

.inactive_listing .see-all-btn{
    outline: none;
    border: none;
    color: #FFC700;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    background: none;
    float: right;
    cursor: pointer;
}


.inactive_listing .see-all-btn:hover{
    color: #f7c203;
}



/* chartside */

.recent_activities .chart-control-btns{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    margin-block-start: 20px;
}

.recent_activities button{
    border: none;
    outline: 0;
    background: transparent;
    cursor: pointer;
}
.recent_activities select{
    width: 200px;
    height: 56px;
    border: 2px solid var(--orange);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 5'%3E%3Cpolygon points='5 0 10 5 0 5'/%3E%3C/svg%3E"); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 5px;
    font-weight: 700;
}



/* MODAL */
.modal-backdrop {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none;

  }

.inactive{
    display: none;
    justify-content: center;
    flex-flow: column;
    width: 72rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #EFFAF8;
    border-radius: 0.5rem;
    padding-inline: 5rem;
    padding-block: 2.5rem;
    height: 800px;
    z-index: 3;
    transition: 5s;

}

.input-search{
    position: relative;
    width: 31rem;
    height: 3.5rem;
    align-self: flex-end;
    margin-top: 1.5rem;
}

.input-search input{
    width: 31rem;
    height: 3.5rem;
}

.input-search button{
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background: #FFC700;
    cursor: pointer;
    color: #F8F8FF;
    
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1000px;
    overflow-y: auto;
    margin-block: 2.5rem;
}




/*-------------- USERS ---------------------*/

.users-section h1{
    color: #333;
}

.users-section .users-card{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10rem;
}


.users-card button{
    align-self: flex-start;
}

.search-users{
    margin-block: 5rem;
    display: flex;
    justify-content: space-between;
}

.search-users .search{
    max-width: 500px;
    position: relative;

}

.search-users .filter{
    display: flex;
    align-items: center;
    color: #FFC700;
    cursor: pointer;
}

.search-users .filter:hover{
    color: #f5d20d;
}

.search-users .search input{
    height: 56px;
    width: 500px;
}

.search-users .search button{
    position: absolute;
    cursor: pointer;
}

/* table */

table{
    margin-block: 50px;
    border-collapse: collapse;
    text-align: left;
}

thead{
    height: 4rem;
    background: #EFFAF8;
    border-radius: 0.25rem;
}

.table-row{
    height: 4rem;
    border-right: 1px solid #33CCA8;
    border-bottom: 1px solid #33CCA8;
    border-left: 1px solid #33CCA8;
}

th, td{
    padding: 0 1.5rem;
}

.nameonaccount, .more-vert{
    color: #FFC700;
}

/* PAGINATION */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.pagination button:hover {
  background-color: #45a049;
}

#currentPage {
  font-weight: bold;
}
